# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.Julia
4.SQL

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Pandas
3.Matplotlib
4.Seaborn

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensor Flow|

# Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is the common arithematic example to multipe the number and ten add to t
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives__
* List popular languages for Data Science.
* LIst popular libraries for Data Science.
* List well known Data Science Tools.
* How to prvide comment in the cell

# Author

Gourav Kumar